@media (max-width: 730px){
  nav{  
    justify-content: flex-start;
  }

  #title{
    font-size: 2em;
    padding: 0 8px 15px 8px;
  }
}

@media (max-width: 600px){
  nav{
    flex-flow: column wrap;
    padding: 10px 0 0 0;
  }

  .nav-list{
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    display: none;
  }
  
  .nav-list li{
    width: 100%;
    text-align: center;
    padding: 8px 0 8px 0;
  }

  .flex {
    display: flex;
  }  
  
  #btn-responsive{
    display: block;
    border: none;
    color: var(--colo5);
    font-size: 1.7rem;
    width: 100%;
  }
}