@import url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
--black: #0e0e0e;
--white: #fff;
--fonte1: "SUSE", sans-serif;
--fonte2: "Poppins", sans-serif;
--color1 : #555763 ;
--color2 : #40424a ;
--color3 : #2b2c31 ;
--color4 : #151619 ;
--color5 : #000000 ;
}