footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    font-family: var(--fonte2);
    background-color: var(--color4);
    padding-bottom: 15px;
}

footer > h2{
    font-size: 1.5em;
    text-align: center;
    color: var(--white);
    margin: 30px 0 30px 0;
}

div#alignContactContainer{
    display: flex;
}

a.textContract{
    color: var(--white);
    padding-left: 14px;
}

h2#title-contacts{
    width: 700px;
}