.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}

.navbar_links{
    padding: 2rem 4rem 1rem;
    display: flex;
    justify-content: space-between;
    color: var(--secundario);
}