nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: row wrap;
  font-family: var(--fonte1);;
  background: var(--color4);
  padding: 10px;
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-list li {
  letter-spacing: 3px;
  padding: 0 15px 0 15px;
}

.nav-list li a {
  color: var(--white);
  text-decoration: none;
}

#title{
  color: var(--white);
  font-size: 1.7rem;
}

#btn-responsive{
  display: none;
}